#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.buttons {
  display: flex;
}

.buttons-button {
  margin: 5px;
  font-size: 40px;
}

.button-weight {
  font-size: 12px;
}

.last-clicked {
  font-size: 24px;
  border: 1cap;
}